.note_taker_container {
  margin-top: 25px;
  text-align: center;
}
.appName {
  margin: 10px 0px;
  font-size: 100px;
  font-weight: 500;
}
.ntForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.inputNote {
  font-size: 15px;
  outline: none;
  resize: none;
}
.addNote {
  margin-top: 10px;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.addNoteIcon {
  min-width: 100%;
  min-height: 100%;
}
.addNoteIcon:active {
  min-width: 85%;
  min-height: 85%;
}
.notesContainer {
  max-width: 70%;
  margin: 25px auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
