.todoFormContainer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.appName {
    margin: 10px 0px;
    font-size: 100px;
    font-weight: 500;
}

.todoForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputTask {
    height: 40px;
    width: 390px;
    font-size: 1.7rem;
    background: white;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.addTask {
    width: 40px;
    height: 40px;
    padding: 0.2rem;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    outline: none;
}

.addTask:active {
    border: 1px solid black;
}

.addBtnIcon {
    min-width: 100%;
    min-height: 100%;
}

.todoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

@media(max-width:500px) {
    .inputTask {
        width: 330px;
        font-size: 1.3rem;
    }
    .appName {
        font-size: 75px;
    }
}